{% load static %}
{% load jalali_tags %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>وبسایت خبری</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'imgs/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- Bootstrap CS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Local CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'news:index' %}">وبسایت خبری</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">خانه</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                دسته بندی
              </a>
              <ul class="dropdown-menu">
                {% for tag in tags %}
                <li>
                  <a class="dropdown-item" href="{{ tag.slug }}">{{ tag }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">درباره من</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="head container-fluid">
      <h3>
        <span class="badge text-bg-secondary">آخرین اخبار</span>
      </h3>
      <span class="line"></span>
    </div>
    <div id="newsBox" class="container-fluid">
      {% for new in news %}
        <div class="newsCard card">
          <img
            src="{{ new.thumbnail }}"
            class="img ard-img-top img-thumbnail"
            alt="{{ new.title }}"
          />
          <h5 class="card-header">{{ new.title }}</h5>
          <div class="card-body">
            <h5 class="card-text categories">
              {% for category in new.categories.all %}
                <a class="badge text-bg-secondary" href="{{ category.slug }}">
                  {{ category }}
                </a>
              {% endfor %}
            </h5>
            <p class="card-text">{{ new.description }}</p>
            <a
              target="_blank"
              href="{{ new.link }}"
              class="btn btn-primary"
              >بیشتر ...
            </a>
          </div>
          <div class="text-center card-footer text-muted">{{ new.pub_date|to_jalali:'%H:%M - %Y/%m/%d' }}</div>
        </div>
      {% endfor %}
      </div>
    </div>
    <footer id="sticky-footer" class="flex-shrink-0 py-2 bg-dark text-white-50">
      <div class="container-fluid text-center">
        <small>کپی رایت &copy; 2022 محمد دری</small>
      </div>
    </footer>
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
