{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>وبسایت خبری</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'imgs/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- Bootstrap CS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- Local CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body>
    <nav id="navbar">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">وبسایت خبری</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  onclick="getNews('all')"
                  >خانه</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  دسته بندی
                </a>
                <ul
                  id="webList"
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdown"
                >
                  <li onclick="sendCategory(this.id)" id="0">
                    <a class="dropdown-item" href="#">National</a>
                  </li>
                  <li onclick="sendCategory(this.id)" id="1">
                    <a class="dropdown-item" href="#">Business</a>
                  </li>
                  <li onclick="sendCategory(this.id)" id="2">
                    <a class="dropdown-item" href="#">Sport</a>
                  </li>
                  <li onclick="sendCategory(this.id)" id="3">
                    <a class="dropdown-item" href="#">World</a>
                  </li>
                  <li onclick="sendCategory(this.id)" id="4">
                    <a class="dropdown-item" href="#">Politics</a>
                  </li>
                  <li onclick="sendCategory(this.id)" id="5">
                    <a class="dropdown-item" href="#">Technology</a>
                  </li>
                  <li onclick="sendCategory(this.id)" id="6">
                    <a class="dropdown-item" href="#">Startup</a>
                  </li>
                  <li onclick="sendCategory(this.id)" id="7">
                    <a class="dropdown-item" href="#">Entertainment</a>
                  </li>
                  <li onclick="sendCategory(this.id)" id="8">
                    <a class="dropdown-item" href="#">Miscellaneous</a>
                  </li>
                  <li onclick="sendCategory(this.id)" id="9">
                    <a class="dropdown-item" href="#">Hatke</a>
                  </li>
                  <li onclick="sendCategory(this.id)" id="10">
                    <a class="dropdown-item" href="#">Science</a>
                  </li>
                  <li onclick="sendCategory(this.id)" id="11">
                    <a class="dropdown-item" href="#">Automobile</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </nav>
    <div class="head container">
      <h3>
        آخرین اخبار <span class="badge text-bg-secondary">توسط محمد دری</span>
      </h3>
      <span class="line"></span>
    </div>
    <div id="newsBox" class="container">
      {% for new in news %}
      <div class="newsCard card">
        <img
          src="{{ new.enclosure.link }}"
          class="img ard-img-top img-thumbnail"
          alt="{{ new.title }}"
        />
        <h5 class="card-header">{{ new.title }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{ new.categories }}</h5>
          <p class="card-text">{{ new.description }}</p>
          <a
            target="_blank"
            href="{{ new.link }}"
            class="btn btn-primary"
            >بیشتر ...
          </a>
        </div>
        <div class="text-center card-footer text-muted">{{ new.pubDate }}</div>
      </div>
      {% endfor %}
    </div>
    <footer id="sticky-footer" class="flex-shrink-0 py-2 bg-dark text-white-50">
      <div class="container text-center">
        <small>کپی رایت &copy; 2022 محمد دری</small>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
